.vertical-menu {
    width: 200px;
  }
  
  .vertical-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
  }
  
  .vertical-menu a:hover {
    background-color: #ccc;
  }
  
  .vertical-menu a.active {
    background-color: #DD2F6E;
    color: white;
  }

  #logout-button {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
  }
  
  #logout-button {
    background-color: #DD2F6E;
    color: #fff;
    padding: 12px;
    border-radius: 30px;
    margin-left: 90%;
    margin-top: .2rem;
  }
  